<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjcft.mapper.mysql.BookMapper" >
    <resultMap id="BaseResultMap" type="com.pjcft.model.Book" >
        <id column="book_id" property="bookId" jdbcType="VARCHAR" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="book_author_id" property="bookAuthorId" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAllBook" resultMap="BaseResultMap">
      SELECT * FROM Book
    </select>

</mapper>